<form action="/" method="POST">
  <input class="form-control mb-3 bg-light" type="url" name="longURL" placeholder="Input URL here" required>
  <button class="btn btn-outline-primary" type="submit">Shorten</button>
</form>