<h3>Success! Please use this link:</h3>
<a href="{{ shortURL }}" id="text">http://localhost:3000/{{ shortURL }}</a>
<button class="btn btn-primary" id="copy-btn">Copy</button>

<script>
  const copyBtn = document.querySelector('#copy-btn')

  copyBtn.addEventListener('click', () => {
    // 建立 Range 物件
    const range = document.createRange()
    // 將指定元素內容加到 Range 中
    const text = document.querySelector('#text')
    range.selectNode(text)
    // 取得 Selection 物件
    const selection = window.getSelection()
    // 先清空當前選取範圍
    selection.removeAllRanges()
    // 加入 Range
    selection.addRange(range)

    document.execCommand('copy')
    selection.removeAllRanges()
  })
</script>